<table class="table table-striped">
    <tr>
        <td>Id</td>
        <td>{{id}}</td>
    </tr>
    <tr>
		<td>Номер</td>
		<td>{{name}}</td>
	</tr>
    <tr>
        <td>Адрес</td>
        <td>{{address}}</td>
    </tr>
	<tr>
		<td>Комментарий</td>
		<td>{{comment}}</td>
	</tr>
	{{#isBlocked}}
	<tr class="block">
		{{#isUnBlocked}}
			<td>Заблокирована вами</td>
			<td><button class="btn btn-small btn-primary block" id="unblock" type="button">Разблокировать</button></td>
		{{/isUnBlocked}}
		{{^isUnBlocked}}
			<td>Заблокировал</td>
			<td>{{userBlocked}}</td>
		{{/isUnBlocked}}
	</tr>
	{{/isBlocked}}
</table>
{{#isUserEditor}}
<div class="edit">
	<button class="btn btn-small btn-primary {{#isBlock}}block{{/isBlock}}" id="edit" type="button" {{#editDenied}}disabled="disabled"{{/editDenied}}>Редактировать</button>
</div>
{{/isUserEditor}}

