<div id="welcomePopup">
    <p><strong>Здесь вы можете помочь проверить информацию по местоположениям Участковых избирательных
        комиссий.</strong></p>

    <p>Чтобы начать работу - <a target="_blank" href="{{rootUrl}}register">зарегистрируйтесь</a> и найдите интересный
        вам участок или непроверенные УИКи.</p>

    <p>Вы можете найти УИКи с помощью этой карты или через
        <a target="_blank" href="{{rootUrl}}uik/stat">список УИКов</a>.
    </p>

    <p>Полезные ссылки:</p>
    <ul>
        <li><a target="_blank" href="http://gis-lab.info/qa/uikgeo-manual.html">Руководство пользователя</a></li>
        <li><a target="_blank" href="http://gis-lab.info/qa/uikgeo.html">О проекте</a></li>
        <li><a target="_blank" href="http://gis-lab.info/forum/viewtopic.php?t=14286">Задать вопрос</a></li>
        <li>Пишите на <a href="mailto:uikgeo@gis-lab.info">uikgeo@gis-lab.info</a></li>
    </ul>

    {{#first}}
    <div class="start">
        <input type="button" class="btn btn-primary" value="Начать работу!"/>
    </div>
    {{/first}}
</div>