<table class="table table-striped">
    <tr>
        <td>Id</td>
        <td>{{id}}</td>
    </tr>
    <tr>
		<td>Номер</td>
		<td>{{name}}</td>
	</tr>
	<tr>
		<td>Федеральный округ</td>
		<td>{{district}}</td>
	</tr>
    <tr>
        <td>Регион</td>
        <td>{{area}}</td>
    </tr>
    <tr>
        <td>Район</td>
        <td>{{sub_area}}</td>
    </tr>
    <tr>
        <td>Населенный пункт</td>
        <td>{{locality}}</td>
    </tr>
    <tr>
        <td>Улица</td>
        <td>{{street}}</td>
    </tr>
	<tr>
		<td>Автономный</td>
		<td>{{is_standalone}}</td>
	</tr>
	<tr>
		<td>Размер</td>
		<td>{{size}}</td>
	</tr>
	<tr>
		<td>Комментарий</td>
		<td>{{comment}}</td>
	</tr>
	{{#isBlock}}
	<tr class="block">
		{{#isUnBlock}}
			<td>Заблокирована вами</td>
			<td><button class="btn btn-small btn-primary block" id="unblock" type="button">Разблокировать</button></td>
		{{/isUnBlock}}
		{{^isUnBlock}}
			<td>Заблокировал</td>
			<td>{{userBlock}}</td>
		{{/isUnBlock}}
	</tr>
	{{/isBlock}}
</table>
{{#isUserEditor}}
<div class="edit">
	<button class="btn btn-small btn-primary {{#isBlock}}block{{/isBlock}}" id="edit" type="button" {{#editDenied}}disabled="disabled"{{/editDenied}}>Редактировать</button>
</div>
{{/isUserEditor}}

